<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email-template</title>
    <style>
        * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    min-width: 100%;
    min-height: 100vh;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
    position: relative;
}

.img1 img {
    width: 100px;
    height: 100px;
    z-index: 1;
}

/* .first img{
    position: absolute;
    top: 20px;
    
} */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    background: rgba(158, 117, 241, 0.267);
    padding: 24px 8px;
    margin-top: -35px;
}

main hr {
    width: 60%;
    border: .5px solid #ccc
}

main a {
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 8px 18px;
    margin: 32px;
    border-radius: 25px;
    font-weight: 600;
}

main h3 {
    margin: 16px;
}

.mainBottom {
    margin-top: 40px;
}


.gradient-border {
    border-style: solid;
    border-width: 4px;
    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 10%;
}

hr {
    width: 20%;
    border: .5px solid #ccc;
}

.social-icons {
    margin-top: 30px;
}

.social-icons img {
    width: 40px;
    margin: 0 5px;
}

@media (max-width: 460px) {
    body {
        padding: 8px;
    }

    main {
        width: 90%;
        padding: 8px 8px;
        margin-top: -30px;
    }

    main a {
        padding: 8px 18px;
        margin: 10px;
    }

    .mainBottom {
        margin-top: 20px;
    }

    footer {
        margin-bottom: 12px;
    }

    footer p {
        font-size: 14px;
    }
}

@media (min-width: 460px) and (max-width: 768px) {
    main {
        width: 80%;
        padding: 8px 8px;
        margin-top: -30px;
    }

    main a {
        padding: 8px 18px;
        margin: 10px;
    }

    .mainBottom {
        margin-top: 24px;
    }

    footer {
        margin-bottom: 12px;
    }

    footer p {
        font-size: 16px;
    }
}
    </style>
</head>

<body>
    <div class="img1 first"><img src="https://techfestsliet.com/images/Pngtreeyoung_people_work_and_study_5426651.png" alt=""></div>
    <main class="gradient-border">

        <h3><em>Hey there,</em></h3>
        <p>Thanks for subscribing to techFest21 updates. You've been added to the official mailing list of techFEST,
            SLIET. You'll be hearing from us soon.Follow our social media handles to know more.
        </p>
        <p>
            Regards techFEST, SLIET
        </p>
        <a href="#">Contact Support</a>
        <hr>
        <div class="mainBottom">
            <p>Write at us</p>
            <em><u>techFEST@sliet.com</u></em>
        </div>
    </main>
    <div class="img1"><img src="images/10Artboard_12_1.png" alt=""></div>
    <hr>

    <div class="social-icons">
        <a href="https://facebook.com/techfestsliet/"><img src="https://techfestsliet.com/images/facebook2x.png" alt=""></a>
        <a href="https://instagram.com/techfestsliet_"><img src="https://techfestsliet.com/images/instagram2x.png" alt=""></a>
        <!-- <a href="#"><img src="https://techfestsliet.com/images/twitter2x.png" alt=""></a> -->
        <a href="https://t.me/joinchat/D6puheMtqWI2M2Jl"><img src="https://techfestsliet.com/images/telegram2x.png" alt=""></a>
        <a href="https://www.linkedin.com/company/techfest-sliet"><img src="https://techfestsliet.com/images/linkedin2x.png" alt=""></a>
        <a href="https://www.youtube.com/channel/UCTSrKfF90hZq7reWgd2oyZg"><img src="https://techfestsliet.com/images/youtube2x.png" alt=""></a>
    </div>
    <footer>
        <p>copyright &#169; 2021 techFEST SLIET, All rights reserved</p>
        <p>Change your mind? You can <a href="#">Unsubscribe</a> at any time</p>
    </footer>
</body>

</html>